{% extends "pdscanui/base.html" %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2 class="text-center"><b>Measurement</b></h2>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-3">

            </div>

            <div class="col">

                <br><br>
                {{ error }}
                <br><br>

                <div class="form-group">

                    <form method="POST" action="{% url 'measurement_save' measurement.id %}">
                        {% csrf_token %}
                        <b>{{ form.as_p }}</b>
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete</button>
                    </form>

                    <br>

                    <form style='display: none;' method="POST" action="{% url 'measurement_delete' measurement.id %}">
                        {% csrf_token %}
                        <button id="delete" type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </div>

            </div>

            <div class="col-3">

            </div>

        </div>

    </div>

{% endblock %}